.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 42px;
    column-gap: 15px;
    margin: 0px 20px 0px 20px;
    padding-left: 75px;
    padding-top: 80px;
    background-color: rgb(243, 239, 239);
    padding-bottom: 40px;

}
.upper-frame{
    position: relative;
}
.thumbnail{
    width: 100%;
}
.timing{
    position: absolute;
    bottom: 10px;
    right: 5px;
    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: 500;
    padding: 4px 3px 4px 3px;
    border-radius: 2px;
}
.lower-frame{
    display: flex;
    margin-top: 10px;
}
.video-link{
    text-decoration: none;
    color: black;
}
.channel-link{
    text-decoration: none;
}
.channel-image{
    width: 36px;
    border-radius: 50%;
}
.video-details{
    margin-left: 10px;
}
.video-title{
    font-weight: 700;
    font-size: 0.90rem;
}
.channel-name{
    margin-top: 10px;
    margin-bottom: 5px;
}
.channel-name,.video-stats{
    color: rgb(96, 96, 96);
    font-size: 0.76rem;
}
@media (max-width:424px) {
     .video-grid{
        grid-template-columns: 1fr;
        padding-left: 0px;
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media (min-width:425px) and (max-width:767px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
         padding-left: 0px;
        padding-top: 70px;
    }
    
}
@media (min-width:768px) and (max-width:1023px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}